* {
    box-sizing: border-box;
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
        Arial, sans-serif;
}

main {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 32px;
}

h2 {
    margin-bottom: 16px;
}

ul {
    width: calc((100% - 32px) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

@media (min-width: 796px) {
    ul {
        width: calc((100% - 128px) / 4);
    }

    ul#ul__signature li {
        width: 40%;
    }

    main section#section__result {
        width: 50vw;
    }
}

ul#ul__signature {
    width: 100%;
}

li {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 8px;
}

li:not(:last-of-type):after {
    width: 100%;
    height: 1px;
    background-color: gray;
    content: "";
    margin-top: 8px;
}

li textarea {
    min-height: 100px;
}

li input[type="text"],
li input[type="number"],
li select,
li textarea {
    width: 100%;
    background-color: lightgray;
    border: none;
    border-radius: 8px;
    padding: 4px 8px;
    display: block;
}

li select {
    cursor: pointer;
}

/* select#select__purchase-location:has(option[value]) {
  
} */

main section#section__result {
    min-height: 300px;
    background-color: #eeeeee;
    font-family: Monospace;
    border: 2px gray solid;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 16px;
}

section#section__result pre {
    width: 100%;
    white-space: pre-wrap;
}

section#section__result button#button__copy {
    width: 100px;
    height: fit-content;
    background-color: #6d8592;
    color: #d6e6eb;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px;
    justify-self: center;
    align-self: flex-end;
    cursor: pointer;
}

button#button__clear {
    width: 100px;
    height: fit-content;
    background-color: #b21a25;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px;
    justify-self: center;
    align-self: flex-end;
    cursor: pointer;
}
