* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
        Arial, sans-serif;
    font-size: 16px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

main {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 16px;
}

ul {
    width: calc((100% - 16px) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

ul#ul__signature,
ul#ul__scattered-notes {
    width: 100%;
}

ul:nth-of-type(3):before,
ul:nth-of-type(4):before {
    width: 100%;
    height: 1px;
    background-color: gray;
    content: "";
    margin-bottom: 8px;
}

li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
}

li textarea {
    min-height: 100px;
    transition: 0.3s ease;
}

li input[type="text"],
li input[type="number"],
li select,
li textarea {
    width: 100%;
    background-color: lightgray;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    display: block;
}

li input[type="text"]:active,
li input[type="number"]:active,
li select:active,
li textarea:active {
    -webkit-tap-highlight-color: transparent;
    background-color: #7a7a7a;
}

li select {
    color: #000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

li span {
    font-size: 14px;
    position: absolute;
    top: 8px;
    right: 8px;
    transform: scaleY(0.8);
    user-select: none;
}

select:has(option:checked[value=""]),
input::placeholder,
textarea::placeholder {
    color: #999999;
}

/* Remove number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

main section#section__result {
    min-height: 300px;
    background-color: #eeeeee;
    border: 1px gray solid;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-between;
    gap: 16px;
}

section#section__result pre {
    width: 100%;
    white-space: pre-wrap;
}

section#section__result button#button__copy {
    width: 100px;
    height: fit-content;
    -webkit-tap-highlight-color: transparent;
    background-color: #6d8592;
    color: #d6e6eb;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px;
    justify-self: center;
    align-self: flex-end;
    cursor: pointer;
}

section#section__result button#button__clear {
    width: 100px;
    height: fit-content;
    -webkit-tap-highlight-color: transparent;
    background-color: #b21a25;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px;
    justify-self: center;
    align-self: flex-end;
    cursor: pointer;
}

input,
button,
select,
textarea {
    transition: 0.3s ease;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
    box-shadow: 0px 0px 5px 1px rgba(109, 133, 146, 0.75);
}

div#modal__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

div#modal__overlay div#modal__box {
    width: calc(100% - 32px);
    height: 150px;
    background-color: white;
    /*box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25); */
    border-radius: 12px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 796px) {
    ul {
        width: calc((100% - 128px) / 4);
    }

    ul#ul__scattered-notes {
        width: 50%;
    }

    ul#ul__signature li {
        width: 40%;
    }

    ul:nth-of-type(3):before,
    ul:nth-of-type(4):before {
        display: none;
    }

    main section#section__result {
        width: 50vw;
    }
}
