/* CSS reset and default font styles*/
* {
  box-sizing: border-box;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial,
    sans-serif;
  font-size: 14px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
}

/* Full page styles */
html {
  scroll-behavior: smooth;
}

main {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

/* PRIVATE NOTES FORM */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* Flex-start for Case Info UL */
ul#ul__case-info {
  flex-flow: row wrap;
  align-items: flex-start;
}

/* No wrap for Signature UL */
ul#ul__signature {
  flex-flow: row nowrap;
}

li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
}

/* Smaller fields for Case Info LIs */
ul#ul__case-info li {
  width: calc(50% - 8px);
}

/* Adjusting order of Case Info LIs as I cannot change them directly in HTML */
ul#ul__case-info li:nth-of-type(2) {
  order: 3;
}

ul#ul__case-info li:nth-of-type(3) {
  order: 5;
}

ul#ul__case-info li:nth-of-type(4) {
  order: 7;
}
ul#ul__case-info li:nth-of-type(5) {
  order: 2;
}
ul#ul__case-info li:nth-of-type(6) {
  order: 4;
}
ul#ul__case-info li:nth-of-type(7) {
  order: 6;
}
ul#ul__case-info li:nth-of-type(8) {
  order: 8;
}

/* Larger fields for Case Status/Actions LIs */
li textarea {
  min-height: 100px;
}

/* Uniform style for all form fields */
li input[type="text"],
li input[type="number"],
li select,
li textarea {
  width: 100%;
  background-color: lightgray;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  display: block;
}

/* On-click style for all form fields */
li input[type="text"]:active,
li input[type="number"]:active,
li select:active,
li textarea:active {
  -webkit-tap-highlight-color: transparent;
  background-color: #7a7a7a;
}

/* WH# text field is not displayed unless WH is selected (JS) */
#input__wh-number {
  display: none;
}

/* Style for form Select/Option fields */
li select {
  color: #000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

select option {
  color: #000;
}

/* Style for custom arrow in Select fields */
li span {
  position: absolute;
  top: 6px;
  right: 6px;
  transform: scaleY(0.8);
  user-select: none;
}

/* Text color for field placeholders */
select:has(option:checked[value=""]),
input::placeholder,
textarea::placeholder {
  color: #999999;
}

/* Remove number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* RESULTS SECTION */
main section#section__result {
  width: 100%;
  min-height: 300px;
  background-color: #eeeeee;
  border: 1px gray solid;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: space-between;
  gap: 16px;
}

/* Style for Exclude SR info option */
section#section__result div#div__status-actions-only {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Style for resulting notes box */
section#section__result pre {
  width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/* Style for Copy and Clear buttons */
section#section__result button#button__copy {
  width: 100px;
  height: fit-content;
  -webkit-tap-highlight-color: transparent;
  background-color: #6d8592;
  color: #d6e6eb;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 8px;
  justify-self: center;
  align-self: flex-end;
  cursor: pointer;
}

section#section__result button#button__clear {
  width: 100px;
  height: fit-content;
  -webkit-tap-highlight-color: transparent;
  background-color: #b21a25;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 8px;
  justify-self: center;
  align-self: flex-end;
  cursor: pointer;
}

/* Animate all fields and buttons */
input,
button,
select,
textarea {
  transition: 0.3s ease;
}

/* Add box shadow to all fields and buttons in focus */
input:focus,
button:focus,
select:focus,
textarea:focus {
  box-shadow: 0px 0px 5px 1px rgba(109, 133, 146, 0.75);
}

/* Style for toast message that appears when clicking the Copy button */
div#modal__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

div#modal__overlay div#modal__box {
  width: calc(100% - 32px);
  height: 150px;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Adjusting width on larger screens */
@media (min-width: 796px) {
  main form {
    width: 50%;
  }

  main section#section__result {
    width: 50%;
  }
}
